%div{class: 'list-group', id:'sortable', 'data-url': sort_items_path }
    - @item.each do |item|
        %div
            = link_to item.title, item, class: 'list-group-item', id: dom_id(item)
        
            %table.table
                %tr
                    %th.col-lg-1.text-uppercase name
                    %th.col-lg-1.text-uppercase price
                    %th.col-lg-1.text-uppercase thc
                    %th.col-lg-1.text-uppercase cbd
                    %th.col-lg-1.text-uppercase genotype

            
                -item.strains.each do |t|
                    %tr
                        %td.col-lg-1= t.name
                        %td.col-lg-1= t.price
                        %td.col-lg-1= t.thc
                        %td.col-lg-1= t.cbd
                        %td.col-lg-1= t.genotype

    
          



        

